@font-face {
    font-family: "Rubik-regular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
    url("../fonts/Rubik-Regular.woff")  format("woff");
}

@font-face {
    font-family: "Rubik-bold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Rubik-Bold.woff2") format("woff2"),
    url("../fonts/Rubik-Bold.woff")  format("woff");
}

@font-face {
    font-family: "Raleway ExtraBold";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2"),
    url("../fonts/Raleway-ExtraBold.woff")  format("woff");
}

body {
    display: flex;
    flex-direction: column;
    width: 1440px;
    font-family: "Raleway ExtraBold";
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    color: black;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

li {
    list-style-type: none;
}

ul {
    padding-inline-start: 0;
}

a {
    text-decoration: none;
    color: black;
}
/* header styles*/
.page-header {
    width: 1160px;
    /*height: 222px;*/
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(white, white 40px, #FFE17F 40px, #FFE17F);
    z-index: 1;
}

.logo-header {
    width: 145px;
    margin-top: 17.39px;
    margin-left: 60px;
}

.logo-header:hover {
    opacity: 0.5;
}

.logo-header:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px;
}

.logo-header:active {
    opacity: 0.3;
}

.header-link-entrance {
    width: 200px;
    margin-right: 57px;
}

.header-item-entrance {
    width: 120px;
    margin: 0;
    padding-right: 10px;
}

.header-link {
    color: black;
    text-decoration: none;
    padding-bottom: 2px;
}

.about-link, .footer-services-link {
    color: black;
    text-decoration: none;
}

.categories-products-link {
    color: black;
    text-decoration: none;
    background-color: #FFE17F;
    letter-spacing: 0.2em;
    padding-right: 20px;
}

.service-link {
    color: black;
    text-decoration: none;
    letter-spacing: 0.2em;
}

.header-container-menu {
    display: flex;
    width: 1040px;
    margin: 0 auto;
    justify-content: space-between;
}

.header-search {
    display: flex;
    background-color: #FFE17F;
    width: 530px;
    margin-top: 26px;
    padding: 0;
}

.header-search-window {
    width: 357px;
    padding-right: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 47px;
    box-sizing: border-box;
    border: black solid 2px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-right: 0;
    margin: 0;
    background-color: #FFE17F;
    background-image: url("../img/magnifier.svg");
    background-repeat: no-repeat;
    background-position: 16px 8px;
    font-family: "Rubik-regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.header-search-btn{
    padding-left: 55px;
    padding-right: 53px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
    margin: 0;
    background-color: #FFE17F;
    border-left: black solid 2px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-family: "Rubik-regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.header-search-btn:hover {
    color: white;
    background-color: black;
 }

.header-search-btn:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px;
    border: black solid 2px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.header-search-btn:active {
    background-color: black;
    color: #4D4D4D;
    outline: none;
}

.header-search-btn:disabled {
    background-color: #FFE17F;
    opacity: 0.3;
}

.header-search-window:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px;
    z-index: 1;
}


.header-search-window:disabled {
    border: #4D4D4D solid 2px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    color: #4D4D4D;
    
}

.header-list {
    font-family: "Rubik-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    width: 496px;
    margin-top: 35px;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

.header-item-icon {
    margin-right: 7px;
    vertical-align: middle;
}

.header-item-basket {
    margin-left: auto;
}

.categories-products-img {
    vertical-align: middle;
}
/* main основное содержание */

.main-container {
    flex-grow: 1;
}

.categories-products-container {
display: flex;
width: 1160px;

}
 
.catalog-products-buttons {
    display: flex;
    width: 400px;
    margin-right: auto;
    margin-bottom: 0;
    align-items: center;
    margin-top: 27px;
}

.service-list {
    display: flex;
    width: 471px;
    margin-right: 60px;
    margin-bottom: 0;
    margin-top: 45px;
}

.service-item {
    margin-right: 43px;
}

.service-list li:nth-child(2) {
    margin-right: 0;
}

.service-list li:last-child {
    margin-right: 0;
    margin-left: 48px;
}

.categories-products-menu {
display: none;
}

.categories-products-buttons {
    margin-bottom: 82px;
}


.categories-products-list-button {
margin-left: 60px;
}

.categories-products-symbol {
margin: 0;
padding-top: 3px;
}

.slider-image {
width: 560px;
height: 560px;
}

.index-gallery {
    position: relative;
    margin-bottom: 55px;
}

.slider-button-slider-prev {
    position: absolute;
    top: 197px;
    left: 162px;
    background: none;
    border: none;
    cursor: pointer;
}

.slider-button-slider-next {
    position: absolute;
    top: 197px;
    left: 673px;
    background: none;
    border: none;
    cursor: pointer;
}

.slider-pagination {
    position: absolute;
    top: 333px;
    right: 125px;
}

.slider-pagination-button {
    padding: 4px;
    border: 2px solid black;
    border-radius: 16px;
    margin-right: 15px;
}

.index-product-item {
    position: relative;
    top: -16px;
    display: flex;
    justify-content: space-between;
    width: 1160px;
    height: 560;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
    background: linear-gradient( #FFE17F, #FFE17F 150px, white 150px, white);
}

.index-product-slogan {
    width: 560px;
    position: relative;
    padding-top: 121px;

}

.device-rating-number {
    font-family: "Rubik-bold";
    font-size: 180px;
    font-weight: 700;
    line-height: 135px;
    width: 250px;
    color: white;
    margin-top: 0;
    margin-bottom:0;
    margin-right: 0;
    margin-left: auto;
    margin-block-end: 0;
    margin-block-start: 0;
    position: absolute;
    left: 300px;
    top: 31px;
}

p {
margin: 0;
}

.index-slogan {
    font-family: "Raleway ExtraBold";
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    width: 560px;
    margin: 0;
    margin-left: auto;
    margin-bottom: 31px;
    position: relative;
    z-index: 1;
    padding-top: 3px;
    }

.index-slogan-description {
    font-family: "Rubik-regular";
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 51px;
}

.about-device-link {
    margin-top: 0;
    margin-bottom: 46px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding-top: 10px;
    width: 220px;
    text-align: center;
    padding-bottom: 9px;
    background: linear-gradient(white, white 16px, #FFE17F 16px, #FFE17F 24px, white 24px, white);
}

.about-device-link a {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 39px;
    padding-right: 36px;
}

.about-device-link:hover {
    background: #FFE17F;
}

.about-device-link a:focus {
    outline: 2px solid #AF4FFF;
}

.about-device-link:active {
    background: #FFCC33;
}

.about-device-link:disabled {
    opacity: 0.5;
}

.device-characteristics {
    font-family: "Rubik-regular";
    font-size: 16px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    border-spacing: 0;
    padding: 0;
    }

.device-characteristics-item {
    font-size: 36px;
    line-height: 30px;

}

.device-characteristics-item td {
    padding-right: 56px;
    padding-bottom: 11px;
}

.index-gallery figure:nth-of-type(2) {
    display: none;
}

.index-gallery figure:nth-of-type(3) {
    display: none;
}

.categories-products-list {
    display: flex;
    width: 1160px;
    justify-content: space-between;
    padding-left: 0;
    margin: 0 auto;
}

.service-items {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 109px;
    padding-top: 64px;
}

.categories-products-item {
    width: 160px;
}

.categories-products-link-pictures {
    color: black;
    text-decoration: none;
    width: 160px;
}

.categories-products-title {
    font-family: "Raleway ExtraBold";
    font-size: 18px;
    font-weight: 800;
    color: black;
    line-height: 24px;
    margin: 0;
    padding-top: 30px;
}

.service-title {
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.service-buttons {
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 75px;
    background: linear-gradient(white, white 100px, #F0F0F0 100px, #F0F0F0 391px, white 391px, white);
    position: relative;
}

.service-buttons-item {
    font-family: "Raleway ExtraBold";
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    color:   #FFE17F;
    background-color: black;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border: none;
    width: 280px;
    height: 40px;
    text-align: left;
    padding-left: 20px;
}

.service-items::before {
    content: "";
    width: 7px;
    height: 319px;
    background: black;
    position: absolute;
    top: 0px;
    left: 420px;
}

.service-buttons-title {
    width: 452px;
    /*margin-left: 123px;*/
    border-left: 7px solid black;
    padding-left: 123px;
    font-size: 50px;
    padding-top: 23px;
}

.service-buttons-text {
    background-color: #F0F0F0; 
    font-family: "Rubik-regular";
    font-size: 18px;
    line-height: 30px;
    padding-top: 48px;
}

.service-buttons-icon {
    margin-left: 106px;
    margin-top: 15px;
}

.delivery-description-title {
    display: flex;
    width: 1160px;
    height: 100px;
    margin: 0 auto;
    color: black;
    text-decoration: none;
}
/* hovers, focuses */

.service-buttons-item:focus {
    color: #FFE17F;
    background-color: black;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.about-link:hover, .button-mailing-link:hover {
    background-color: #FFE17F
}



.delivery-description-text {
    font-family: "Raleway ExtraBold";
    font-weight: 800;
    font-size: 20px;
    line-height: 100px;
    background-color: #F0F0F0;
    text-align: center;
    color: black;
    flex-grow: 1;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

/* О нас и контакты*/

.about-container {
    display: flex;
    margin: 0 auto;
    width: 1160px;
    justify-content: space-between;
    margin-bottom: 29px;
}

.about {
    width: 545px;
}

.contacts {
    width: 545px;
}

.button-mailing-link {
    color: black;
    text-decoration: none;
}
.about-title {
    font-size: 50px;
    line-height: 50px;
}

.about-description {
    font-family: "Rubik-regular";
    font-size: 18px;
    line-height: 30px;
    padding-top: 15px;
}

.about-list {
    font-family: "Rubik-bold";
    font-size: 18px;
    line-height: 20px;
}

.contacts-title {
    font-size: 50px;
    line-height: 50px;
}

.contacts-description {
    font-family: "Rubik-regular";
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
    padding-top: 15px;
}

.contacts-subtitle {
    font-family: "Rubik-bold";
    font-size: 24px;
    line-height: 30px;
}

.contacts-address-text, .contacts-address-phone, .mailling-description {
    font-family: "Rubik-regular";
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
}

.mailling-container {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.mailling-form-container {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
}

.mailling-title {
    font-size: 50px;
    line-height: 50px;
}

.contacts-schedule {
    font-family: "Rubik-regular";
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 38px;
}


/* Footer */

.page-footer {
    width: 1440px;
    margin: 0 auto;
    }

.logo-footer-container {
    width: 1160px;
    margin-top: 61px;
    margin-left: auto;
    margin-right: auto;
}

.contacts-address-container {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 21px;
}

.footer-services {
    display: flex;
    width: 444px;
    justify-content: space-between;
    padding-inline-start: 0;
    text-transform: uppercase;
}

.contacts-address {
    width: 239px;
    margin-right: 112px;
}
.footer-address-text {
    font-family: "Rubik-regular";
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
}

.footer-contacts-phone {
    font-family: "Rubik-regular";
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    text-decoration: underline;
    color: white;
    margin-left: auto;
}

.footer-social-container {
    display: flex;
    width: 1160px;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 41px;
    }

.footer-social-list {
    display: flex;
    margin-left: 115px;
    margin-top: 0;
    width: 150px;
    flex-grow: 1;
    padding-inline-start: 0;
    justify-content: center;
    align-self: flex-start;
    flex-wrap: wrap;
}

.footer-social-link {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
}

.footer-social-item {
    margin-left: 7.5px;
    margin-right: 7.5px;
}

/* Стилизация каталога */

.catalog-main-container {
    width: 1440px;
    margin: 0 auto;
    background: linear-gradient(white, white 118px, #F0F0F0 118px, #F0F0F0);
}

.catalog-filter-container {
    display: flex;
    flex-wrap: wrap;
    width: 1160px;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 8px;
}

.catalog-title {
    font-size: 50px;
    line-height: 50px;
    margin-left: 200px;
    margin-bottom: 0;
}

.breadcrumbs-list {
    display: flex;
    font-family: "Rubik-regular";
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    font-weight: 400;
    margin-left: 200px;
    margin-top: 10px;
}

.breadcrumbs-item {
    margin-right: 36px;
}

.filter-header-container {
    display: flex;
    margin-bottom: 35px;
}

.filter-input {
    width: 320px;
}

.sorting-title {
    margin-left: 20px;
}

.sorting-type {
    align-self: center;
    width: 840px;
}

.filter-header {
    font-size: 16px;
    line-height: 19px;
    width: 320px;
    margin: 0;
}

.catalog-filter-price {
    margin-top: 58px;
    margin-left: 41px;
}

.catalog-filter-color {
    margin-top: 0;
    margin-left: 41px;
}

.catalog-filter-bluetooth {
    margin-top: 86px;
    margin-left: 41px;
}

.filter-input-color  {
    font-family: "Rubik-bold";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

.catalog-filter-title, .filter-input-bluetooth {
    font-family: "Rubik-bold";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

.filter-colors-list, .filter-bluetooth-item {
    font-family: "Rubik-regular";
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    font-weight: 400;
}

.catalog-input-price {
    font-family: "Rubik-regular";
    font-size: 15px;
    line-height: 18px;
    font-style: normal;
    font-weight: 400;
}

.catalog-filter-button {
    margin-top: 29px;
    margin-left: 126px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    width: 840px;
    background-color: white;
    justify-content: space-evenly;
    margin-top: 0px;
    margin-bottom: 0;
    padding-top: 27px;
}

.product-card {
    margin-top: 45px;
}

.product-card-title {
    font-family: "Rubik-bold";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    width: 226px;
    margin-bottom: 0;
    margin-top: 0;
}

.product-card-container {
    display: flex;
    margin-top: 29px;
}

.product-card-price {
    font-family: "Rubik-regular";
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
    width: 63px;
    margin-left: auto;
    margin-top: 0;
    text-align: right;
}

.pagination-container {
    display: flex;
    flex-direction: column;
    width: 840px;
    background-color: white;
    margin-left: auto;
    padding-top: 52px;
}

.pagination {
    display: flex;
    width: 760px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 80px;
    padding-bottom: 44px;
}

.catalog-more {
    margin: 0 auto;
}

.select-control {
    font-family: "Rubik-regular";
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
}

footer {
    background-color: #444444;
    color: white;
}

.footer-services-link {
    color: white;
}