@font-face {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts\Rubik-Bold.woff2) format(woff2),
    url(fonts\Rubik-Bold.woff) format(woff);
}

@font-face {
    font-family: "Raleway ExtraBold", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(fonts\Raleway-ExtraBold.woff2) format(woff2),
    url(fonts\Raleway-ExtraBold.woff) format(woff);
}

@font-face {
    font-family: "Rubik regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts\Rubik-Regular.woff2) format(woff2),
    url(fonts\Rubik-Regular.woff2)  format(woff);
}

@font-face {
    font-family: "Rubik bold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
src: url(fonts\Rubik-Bold.woff2) format(woff2),
url(fonts\Rubik-Regular.woff)  format(woff);
}
body {
    font-family: "Raleway ExtraBold", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    color: black;
}

.header-search {
    font-family: "Rubik regular";
    font-size: 16px;
    line-height: 20px;

}

.header-list {
    font-family: "Raleway ExtraBold";
    font-size: 18px;
    line-height: 30px;
}

.device-rating-number {
    font-family: "Rubik bold";
    font-size: 180px;
    line-height: 30px;
    color: white;
}

.index-slogan {
    font-size: 50px;
    line-height: 50px;
}

.index-slogan-description {
    font-family: "Rubik regular";
    font-size: 18px;
    line-height: 30px;
}

.device-characteristics {
    font-family: "Rubik regular";
    font-size: 16px;
    line-height: 30px;
    }

.device-characteristics-item {
    font-size: 36px;
    line-height: 30px;
}

.categories-products-title {
    line-height: 24px;
}

.service-title {
    font-size: 50px;
    line-height: 50px;
}

.delivery-description {
    font-size: 20px;
    line-height: 24px;
}

.about-title {
    font-size: 50px;
    line-height: 50px;
}

.about-description {
    font-family: "Rubik regular";
    font-size: 18px;
    line-height: 30px;
}

.about-list {
    font-family: "Rubik bold";
    font-size: 18px;
    line-height: 20px;
}

.contacts-title {
    font-size: 50px;
    line-height: 50px;
}

.contacts-description {
    font-family: "Rubik regular";
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
}

.contacts-subtitle {
    font-family: "Rubik bold";
    font-size: 24px;
    line-height: 30px;
}

.contacts-address-text, .contacts-address-phone, .mailling-description {
    font-family: "Rubik regular";
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
}

.mailling-title {
    font-size: 50px;
    line-height: 50px;
}

.contacts-schedule {
    font-family: "Rubik regular";
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
}

.footer-address-text, .footer-contacts-phone {
    font-family: "Rubik regular";
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
}

.footer-social-link {
    background: rgba(255, 255, 255, 0.3);

}