@font-face {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts\Rubik-Bold.woff2) format(woff2),
    url(fonts\Rubik-Bold.woff) format(woff);
}

@font-face {
    font-family: "Raleway ExtraBold", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(fonts\Raleway-ExtraBold.woff2) format(woff2),
    url(fonts\Raleway-ExtraBold.woff) format(woff);
}

@font-face {
    font-family: "Rubik regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts\Rubik-Regular.woff2) format(woff2),
    url(fonts\Rubik-Regular.woff2)  format(woff);
}

@font-face {
    font-family: "Rubik bold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
src: url(fonts\Rubik-Bold.woff2) format(woff2),
url(fonts\Rubik-Regular.woff)  format(woff);
}
body {
    font-family: "Raleway ExtraBold", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    color: black;
}
.page-header {
    background-color: #FFE17F;
}

.header-link, .categories-products-link, .service-link, .about-link, .button-mailing-link, .footer-services-link {
    text-decoration: none;
}

footer {
    background-color: #444444;
    color: white;
}

.footer-services-link {
    color: white;
}

.header-search {
    font-family: "Rubik regular";
    font-size: 16px;
    line-height: 20px;
    background-color: #FFE17F;
}

.header-list {
    font-family: "Raleway ExtraBold";
    font-size: 18px;
    line-height: 30px;
}

.device-rating-number {
    font-family: "Rubik bold";
    font-size: 180px;
    line-height: 135px;
    color: white;
    background-color: #FFE17F;
}

.index-slogan {
    font-size: 50px;
    line-height: 50px;
}

.index-slogan-description {
    font-family: "Rubik regular";
    font-size: 18px;
    line-height: 30px;
}

.device-characteristics {
    font-family: "Rubik regular";
    font-size: 16px;
    line-height: 30px;
    }

.device-characteristics-item {
    font-size: 36px;
    line-height: 30px;
}

.categories-products-title {
    line-height: 24px;
}

.service-title {
    font-size: 50px;
    line-height: 50px;
}

.service-buttons-item {
    font-family: "Raleway ExtraBold";
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    color:  black;
    background-color: #FFE17F;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
/* hovers, focuses */

.service-buttons-item:focus {
    color: #FFE17F;
    background-color: black;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.categories-products-link:hover, .about-link:hover, .button-mailing-link:hover {
    background-color: #FFE17F
}


.service-buttons-text {
    background-color: #F0F0F0; 
}

.delivery-description-text {
    font-size: 20px;
    line-height: 100px;
    background-color: #F0F0F0;
    text-align: center;
    margin-bottom: 0px;
    color: black;
}

.about-title {
    font-size: 50px;
    line-height: 50px;
}

.about-description {
    font-family: "Rubik regular";
    font-size: 18px;
    line-height: 30px;
}

.about-list {
    font-family: "Rubik bold";
    font-size: 18px;
    line-height: 20px;
}

.contacts-title {
    font-size: 50px;
    line-height: 50px;
}

.contacts-description {
    font-family: "Rubik regular";
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
}

.contacts-subtitle {
    font-family: "Rubik bold";
    font-size: 24px;
    line-height: 30px;
}

.contacts-address-text, .contacts-address-phone, .mailling-description {
    font-family: "Rubik regular";
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
}

.mailling-title {
    font-size: 50px;
    line-height: 50px;
}

.contacts-schedule {
    font-family: "Rubik regular";
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
}

.footer-address-text {
    font-family: "Rubik regular";
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
}

.footer-contacts-phone {
    font-family: "Rubik regular";
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    text-decoration: underline;
    color: white;
}

.footer-social-link {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
}

/* Стилизация каталога */
.catalog-title {
    font-size: 50px;
    line-height: 50px;
}

.breadcrumbs-list {
    font-family: "Rubik regular";
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    font-weight: 400;
}

.filter-header {
    font-size: 16px;
    line-height: 19px;
}

.catalog-filter-title, .filter-input-color, .filter-input-bluetooth {
    font-family: "Rubik bold";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

.filter-colors-list, .filter-bluetooth-item {
    font-family: "Rubik regular";
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    font-weight: 400;
}

.catalog-input-price {
    font-family: "Rubik regular";
    font-size: 15px;
    line-height: 18px;
    font-style: normal;
    font-weight: 400;
}

.product-card-title {
    font-family: "Rubik bold";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

.product-card-price {
    font-family: "Rubik regular";
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
}

.select-control {
    font-family: "Rubik regular";
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
}